/* Main index.html page */
.main {
    background-color: rgb(135, 206, 235);
}

#title {
    color: rgb(196, 145, 2);
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.pizza,
.tongue,
.chicken {
    color: #00008b;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Pizza html */
.recipe {
    background-color: rgb(135, 206, 235);
}

.link {
    color: #00008b;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title-pizza {
    color: rgba(196, 145, 2);
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.img-pizza {
    height: 500px;
    width: 600px;
}

.description-pizza,
.ingredients-pizza,
.steps-pizza {
    color: rgb(196, 145, 2);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para {
    color: darkblue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.make-pizza,
.assemble-pizza {
    color: darkblue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.make-pizza .dough,
.sauce,
.toppings {
    font-weight: bold;
}

.assemble-pizza .assemble-dough,
.assemble-sauce,
.final {
    font-weight: bold;
}
/* Tacos de lengua html*/
.recipe-lengua {
    background-color: rgb(135, 206, 235);
}

.link-lengua {
    color: #00008b;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title-lengua {
    color: rgba(196, 145, 2);
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.img-lengua {
    height: 500px;
    width: 600px;
}

.description-lengua,
.ingredients-lengua,
.steps-lengua {
    color: rgb(196, 145, 2);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.para-lengua {
    color: darkblue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.make-lengua,
.assemble-lengua {
    color: darkblue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}